---
#hide-from-yaml-and-scss-parsers { color: blue; }/* Hiding from parsers is fun!
---
/**/

@import 'colors';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@font-face {
	font-family: lobster2;
	src: url('/assets/fonts/lobster2.otf');
}

* { margin: 0px; padding: 0px; border: none; }

html { background-color: $color-secondary-1-1; }

#body {
  position: relative;
  margin: 0px auto;
  width: 800px;

  font-family: Calibri;
}

#header {
  margin: 0px -50%;
  padding: 30px 50%;

  background-color: $color-primary-1;

  text-align: center;
  font-family: lobster2;
  font-size: 275%;
}

#main {
  margin: 0px auto;
  padding: 8px 0px;
  width: 90%;

  background-color: $color-primary-0;
  border: solid $color-secondary-1-4;
  border-width: 0px 1px 1px;
}

#footer {
  margin: 40px auto 10px;
}

a { color: $color-complement-4; }
a:hover { color: $color-complement-2; }
a:visited { color: $color-complement-3; }

h1, h2, h3, h4, h5 {
  margin: 16px;

  font-family: lobster2;
  font-weight: normal;
}

h1, h2, h3 {
  font-size: 200%;
}

h4 {
  border-bottom: 1px solid $color-secondary-2-4;

  font-size: 125%;
}

h5 {
  margin: 16px 32px 4px;

  font-weight: bold;
  font-size: 115%;
}

h6 {
  margin: 16px 32px;

  font-weight: bold;
  font-size: 115%;
  text-decoration: underline;
}

img {
	width: 100%;
}

p {
  margin: 16px 8px;
  padding-left: 20px;
}

li {
  padding-left: 2em;

  list-style-type: none;
}

table {
  margin: 0px auto;
  padding: 2px;

  td {
    display: inline-block;
    margin: 2px 4px;
    min-width: 5em;
    min-height: 5em;

    background-color: $color-primary-3;
  }

  td:hover {
    background-color: $color-secondary-2-3;
  }
}

.bold { font-weight: bold; }

.align {
  position: relative;
  overflow: hidden;

  .outer {
    float: left;
    position: relative;
    left: 50%;

    .inner {
      position: relative;
      left: -50%;
    }
  }
}

.alignClear {
	clear: both;
}

.horizontalRule {
  margin: 40px auto;
  width: 35%;

  border-top: 1px solid $color-secondary-2-4;
}
#footer .horizontalRule { width: 80%; }

#mainMenu {
  margin: 0px -50%;
  padding: 0px 50%;
  background-color: $color-secondary-1-4;
  border: solid 1px $color-primary-4;

  a {
    display: inline-block;
    margin: 2px 1px;
    padding: 0.5em 2em;
    min-width: 80px;
    @include border-radius(8px);

    color: #000000;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    background-color: $color-secondary-2-4;
  }
}

.section {
  margin: 1em;
  padding: 1em;
  background-color: $color-primary-1;
  border: solid $color-secondary-2-4 1px;
  @include border-radius(12px);
}

.picture {
	max-width: 400px;
}

.showInfo {
  margin-bottom: 16px;
  padding: 8px 8px 32px;
  background-color: $color-primary-1;
  border: solid $color-secondary-2-4 1px;
}

.postalAddress {
  padding-left: 2em;
  font-weight: bold;
}

@media (max-device-width: 800px) {
  #body { width: 100%; }

  #header {
    margin: 0px;
    padding: 0px;
    font-size: 150%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 16px 4px 0px;
  }

  p {
    margin: 8px 4px;
    padding-left: 10px;
  }

  #mainMenu a {
    display: block;
    margin: 2px auto;
    padding: 0.25em 2em;

    font-size: 150%;
  }

  #main { width: 95%; }
}

noscript {
	text-align: center;
}
