---
#hide-from-yaml-and-scss-parsers { color: blue; }/* Hiding from parsers is fun!
---
/**/

@import 'colors';
$color-positive: #000000;

$color-negative: #FFFFFF;
$color-negative-standout: #BBBBBB;
$color-negative-highlight: #DDDDDD;

$color-primary: $color-primary-0;
$color-primary-light: $color-primary-1;
$color-primary-dark: $color-primary-4;

$color-secondary: $color-secondary-0;
$color-secondary-light: $color-secondary-1;
$color-secondary-dark: $color-secondary-4;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@font-face {
	font-family: lobster2;
	src: url('/assets/fonts/lobster2.otf');
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
}

html {
  background-color: $color-negative;
  color: $color-positive;
  font-family: Calibri;
}

#header {
  margin: 0px;
  padding: 30px 0px;

  background-color: $color-primary;

  text-align: center;
  font-family: lobster2;
  font-size: 275%;
}

#main {
  position: relative;
  margin: 0px auto -2em;
  padding: 0px 0px;
  width: 800px;
  overflow: auto; // prevent margin collapsing
}

#footer {
  margin: 40px auto 10px;
}

a { color: $color-secondary; }
a:visited { color: $color-secondary-dark; }
a:hover { color: $color-secondary-light; }

h1, h2, h3, h4, h5 {
  margin: 0.25em;

  font-family: lobster2;
  font-weight: normal;
}

h1, h2, h3 {
  font-size: 200%;
}

h4 {
  border-bottom: 1px solid $color-secondary-light;

  font-size: 125%;
}

h5 {
  margin: 0.25em;

  font-weight: bold;
  font-size: 115%;
}

h6 {
  margin: 0.25em 0.5em;

  font-weight: bold;
  font-size: 115%;
  text-decoration: underline;
}

img {
	width: 100%;
}

p {
  margin: 16px 8px;
  padding-left: 20px;
}

li {
  padding-left: 1.5em;

  list-style-type: none;
}

table {
  margin: 0px auto;
  padding: 2px;

  td {
    display: inline-block;
    margin: 2px 4px;
    min-width: 5em;
    min-height: 5em;

    background-color: $color-negative-standout;
  }

  td:hover {
    background-color: $color-negative-highlight;
  }
}

.bold { font-weight: bold; }

.align {
  position: relative;
  overflow: hidden;

  .outer {
    float: left;
    position: relative;
    left: 50%;

    .inner {
      position: relative;
      left: -50%;
    }
  }
}

.alignClear {
	clear: both;
}

.horizontalRule {
  margin: 40px auto;
  width: 500px;

  border-top: 1px solid $color-secondary-light;
}
#footer .horizontalRule { width: 640px; }

#mainMenu {
  margin: 0px;
  padding: 0px;
  background-color: $color-secondary;
  border: solid 1px $color-secondary-light;

  a {
    display: inline-block;
    margin: 2px 1px;
    padding: 0.5em 2em;
    min-width: 80px;
    @include border-radius(8px);

    color: $color-negative;
    text-decoration: none;
    text-align: center;
  }

  a:hover {
    background-color: $color-secondary-light;
  }
}

.section {
  margin: 1em;
  padding: 1em;
}

.picture {
	max-width: 400px;
}

.showInfo {
  margin-bottom: 16px;
  padding: 8px 8px 32px;
  background-color: $color-negative-highlight;
  border: solid 1px $color-negative-standout;
}

.postalAddress {
  padding-left: 2em;
  font-weight: bold;
}

@media (max-device-width: 800px) {
  #body { width: 100%; }

  #header {
    margin: 0px;
    padding: 0px;
    font-size: 150%;
  }

  p {
    margin: 8px 4px;
    padding-left: 10px;
  }

  #mainMenu a {
    display: block;
    margin: 2px auto;
    padding: 0.25em 2em;

    font-size: 150%;
  }

  #main { width: 95%; }

  .horizontalRule {
    margin: 40px auto;
    width: 65%;

    border-top: 1px solid $color-secondary-light;
  }
  #footer .horizontalRule { width: 80%; }
}

noscript {
	text-align: center;
}
